* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('/public/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 0.3s ease;

  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  gap: 2%;
  margin-top: 2%;
  margin-bottom: 0.5%;
}

input {
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 200px;
}

input:focus {
  border-color: #0288d1;
  box-shadow: 0 0 5px rgba(2, 136, 209, 0.5);
}

button {
  font-weight: 700;

  padding: 10px 18px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #03a9f4;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #0288d1;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
}

#location-name{
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1%;
  margin-bottom: 1%;
}

.weather-card {
  flex: 0 0 150px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  backdrop-filter: blur(6px);
  transition: background 0.3s ease, transform 0.3s ease;
}

.weather-card.today {
  border: 2px solid gold;
  box-shadow: 0 0 6px 4px gold;
}

.weather-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.weather-card h2 {
  margin-bottom: 10px;
}

.weather-card p {
  margin: 5px 0;
  font-size: 16px;
}

#weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 10px 0;
}